<div class="wrapper">

    <section class="one">
        <h1 class="title animate">Hello, Section 1</h1>
        <h3 class="animate" style="--delay-order: 2">Lorem ipsum dolor sit amet.</h3>
        <p class="animate" style="--delay-order: 4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quaerat labore quia atque distinctio numquam delectus aut in aperiam. Saepe omnis molestias aperiam suscipit id nisi quo, repudiandae nobis quasi!</p>
    </section>

    <section class="two">
        <h1 class="title animate">Hello, Section 2</h1>
    </section>

    <section class="three">
        <h1 class="title animate">Hello, Section 3</h1>
    </section>

</div>